/* .landing-main {
  width: 100vw;
  height: calc(100vh - 107px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
} */
/* .landing-slogan {
  width: 97%;
  max-width: 50rem;
  height: 54rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
  background-color: var(--blue);
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
} */
/* .landing-slogan--text {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  animation: slogan 1.5s ease-in-out;
} */
/* @keyframes slogan {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translate(0px);
  }
} */
/* .landing-slogan--text p:first-child {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
} */
/* .landing-slogan--text p:nth-child(2) {
  margin-top: 2rem;
  font-size: 1.8rem;
  text-align: center;
} */
/* .landing-keypad {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: keypad 1.5s ease-in-out;
} */
/* @keyframes keypad {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0);
  }
} */
/* .landing-arrow {
  width: 85%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  border-radius: 20px;
  border: 3px solid var(--blue);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  animation: arrow 1.5s ease-in-out;
} */
/* @keyframes arrow {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
} */
/* .landing-arrow a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-arrow p {
  width: 65%;
  height: 5rem;
  font-size: 4rem;
  color: var(--blue);
  font-weight: bold;
  text-align: center;
}
.landing-arrow img {
  width: 30%;
  height: 100%;
} */

/* styles second screen */
.landing-success {
  width: 100%;
  max-width: 55rem;
  height: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-success figure {
  width: 80%;
  max-width: 35rem;
  animation: figure 1.5s ease-in-out;
}
@keyframes figure {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}
.landing-success--info {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.landing-success--info p:first-child {
  font-size: 2.5rem;
  font-weight: bold;
}
.landing-success--info p {
  font-size: 2rem;
}
