:root{
    --blue:#3d7fbc;
    --gray:#999999;
    --blanco: #f6f5f5;
    --lightgray: #ddd9d9;
    --text: #464646;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
    color: var(--gray);
}
img{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100vw;
    height: 5rem;
    background-color: var(--blue);
}
.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
.header-title h1{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.main-container{
    width: 100vw;
    margin-top: 20%;
}
.main-container--log{
    width: 100vw;
    margin-top: 15%;
}
.main-container--logcard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logcard-image{
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}
.logcard-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.logcard-input-msg{
    display: none;
}
.logcard-input-msg.show{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:6rem;
    width: 25rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: var(--blanco);
    box-shadow: 5px 5px 5px grey;
}
.logcard-input-msg p{
    color: var(--text);
    font-size: 1.4rem;
}
.logcard-input input{
    width: 100%;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a5a5a6;
    color: #464646;
    margin: 15px auto;
    padding: 15px;
    outline: none;
}
.logcard-button{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 1rem;
}
.logcard-button button{
    width: 120px;
    height: 50px;
    background-color: var(--blue);
    margin-top: 15px;
    border: none;
    color: white;
    font-size: 1.5rem;
}