.inputForm {
  width: 100%;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a5a5a6;
  color: #464646;
  margin: 15px auto;
  padding: 15px;
  outline: none;
  font-size: 1.6rem;
}
.inputFormOrder {
  /* width: 100%; */
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a5a5a6;
  color: #464646;
  margin: 5px auto;
  padding: 0px;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
}

/* @media screen and (min-width: 900px) {
	.inputForm {
    font-size: 1.6rem;
  }
} */
