.modalBackground {
  width: 15rem;
  height: 10rem;
  background: rgba(32, 35, 41, 0.8);
  position: fixed;
  top: 6rem;
  right: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  color: var(--white);
  padding: 10px;
}
.modalBackground-delete {
  width: 100vw;
  height: 100vh;
  background: rgba(32, 35, 41, 0.8);
  position: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 10px;
  font-size: 2rem;
}
.hidenModal {
  display: none;
}
.modalBackground p {
  font-size: 2rem;
}
