.main-home {
  position: absolute;
  width: 100vw;
  height: 80vh;
  top: 10%;
}
.home-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: var(--blue);
}
.home-menu {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 900px) {
  .main-home {
    display: flex;
    justify-content: center;
    top: 20%;
  }
  .home-menu {
    width: 50vw;
  }
}
