.main-landing {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-Banner {
  width: 100vw;
  height: 27.5rem;
}
.landing-Banner img {
  object-fit: contain;
}
.landing-slogan {
  width: 90vw;
  height: 25rem;
  margin-top: 2rem;
  border: 1.5px solid black;
  border-radius: 20px;
}
.slogan-title {
  margin-top: 2rem;
  font-size: 3.3rem;
  text-align: center;
  color: var(--black);
  font-weight: bold;
}
.slogan-message {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: var(--text);
  font-weight: bold;
}
.landing-keyPad {
  width: 100vw;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.landing-card {
  width: 39rem;
  height: 65rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-code {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--black);
}
.card-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--text);
}
