.mainReset {
  width: 100vw;
  margin-top: 20%;
}
.mainReset-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--black);
}
.mainReset-card h1 {
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}
.mainReset-card p {
  font-size: 2rem;
}
.mainReset-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.mainReset-keypad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mainReset-link {
  width: 100%;
  background: none;
  margin-top: 2rem;
  border: 0;
  color: var(--blue);
  padding: 0;
  outline: none;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
}
.mainReset-form span {
  width: 50%;
  background: none;
  border: 0;
  color: var(--red);
  padding: 0;
  margin-right: 0;
  outline: none;
  font-size: 1.4rem;
  text-align: right;
}

@media screen and (min-width: 900px) {
  .mainReset {
    margin-top: 10%;
  }
  .mainReset-form {
    width: 35%;
  }
}
