.viwer-container {
  width: 100vw;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  margin-top: 1rem;
}
.viwer-title {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}
.viwer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 39rem;
  height: 40rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}
.info-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2.2rem;
}
.info-title--area {
  margin-right: 15rem;
}
.info-title--machine {
  font-weight: lighter;
  font-size: 2rem;
}
.info-card {
  width: 39rem;
  height: 8rem;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  border-top: solid 2px var(--black);
}
.info-table {
  width: 100%;
  height: 7rem;
}
.row-celd--title {
  font-weight: bold;
  width: 25%;
}
.row-celd--item {
  text-align: center;
}
