*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
    font-family: arial, sans-serif;
    border: 0px solid black;
    border-collapse: collapse;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    vertical-align: top;
}

tr#r{
    background-color: #dddddd;
}

ul {
    list-style-type: none;
}


div.right {
    position: absolute;
    right: 0px;
    top  : 0px;
    width: 300px;
    border: 0px solid #73AD21;
    padding: 10px;
}

div.left {
    position: absolute;
    left : 100px;
    top  : 100px;
    width: 210px;
    border: 0px solid #73AD21;
    padding: 0px;
}

div.form {
    position: absolute;
    right : 30px;
    top  : 3px;
    width: 250px;
    border: 0px solid #73AD21;
    padding: 10px;
}
header{
	width: 100%;
	position: fixed;
        background: #378FD9;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

div.but {
    position: absolute;
    left : 40px;
    top  : 20px;
    width: 80px;
    border: 0px solid #73AD21;
    padding: 0px;
}

input[type="submit"]{
	padding: 7px;
	padding-right: 20px;
}

div.left1 {
    position: absolute;
    left : 300px;
    top  : 100px;
    width: 210px;
    border: 0px solid #73AD21;
    padding: 0px;
}

div.left2 {
    position: absolute;
    left : 500px;
    top  : 100px;
    width: 120px;
    border: 2px solid #73AD21;
    padding: 0px;
}