.main-documents {
  position: absolute;
  width: 100vw;
  top: 15%;
}
.main-documents--menu {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 5rem;
}
.main-notify {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.modalKeypad {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
