.mainLogin {
  width: 100vw;
  margin-top: 20%;
}
.mainLogin-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainLogin-image {
  width: 9rem;
  height: 9rem;
  margin-bottom: 10px;
}
.mainLogin-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.mainLogin-form input {
  width: 100%;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a5a5a6;
  color: #464646;
  margin: 15px auto;
  padding: 15px;
  outline: none;
  font-size: 1.6rem;
}
.mainLogin-board {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mainLogin-keypad {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.mainLogin-keypad button {
  width: 120px;
  height: 50px;
  background-color: var(--blue);
  margin-top: 15px;
  border: none;
  color: white;
  font-size: 1.6rem;
}
.mainLogin-form span {
  width: 50%;
  background: none;
  border: 0;
  color: var(--red);
  padding: 0;
  margin-right: 0;
  outline: none;
  font-size: 1.4rem;
  text-align: right;
}
.mainLogin-form .mainLogin-link {
  width: 50%;
  background: none;
  border: 0;
  color: var(--blue);
  padding: 0;
  outline: none;
  font-size: 1.4rem;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .mainLogin {
    margin-top: 10%;
  }
  .mainLogin-form {
    width: 35%;
  }
  .mainLogin-form input {
    font-size: 1.6rem;
  }
  .mainLogin-keypad button {
    font-size: 1.6rem;
  }
}
