:root {
  --blue: #3d7fbc;
  --gray: #999999;
  --blanco: #f6f5f5;
  --lightgray: #ddd9d9;
  --red: #ff0000;
  --text: #464646;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--blanco);
  color: var(--gray);
}
img {
  width: 100%;
  height: 100%;
}

.main-container_log {
  width: 100vw;
  margin-top: 20%;
}
.main-container--logcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logcard-image {
  width: 9rem;
  height: 9rem;
  margin-bottom: 10px;
}
.logcard-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.logcard-button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}
.logcard-button button {
  width: 120px;
  height: 50px;
  background-color: var(--blue);
  margin-top: 15px;
  border: none;
  color: white;
  font-size: 1.6rem;
}
.logcard-form input {
  width: 100%;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a5a5a6;
  color: #464646;
  margin: 15px auto;
  padding: 15px;
  outline: none;
  font-size: 1.6rem;
}
.logcard-form span {
  width: 100%;
  background: none;
  border: 0;
  color: var(--red);
  margin: 0 auto;
  padding: 0;
  outline: none;
  font-size: 1.4rem;
}

@media screen and (min-width: 900px) {
  .main-container_log {
    margin-top: 10%;
  }
  .logcard-form {
    width: 35%;
  }
  .logcard-input input {
    font-size: 1.6rem;
  }
  .logcard-button button {
    font-size: 1.6rem;
  }
}
