:root {
  --blue: #3d7fbc;
  --gray: #999999;
  --baseWhite: #f6f5f5;
  --white: #ffffff;
  --lightgray: #ddd9d9;
  --red: #ff0000;
  --text: #464646;
  --black: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html {
  font-size: 62.5%;
}
img {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--baseWhite);
  color: var(--gray);
}
.fault {
  color: var(--red);
  font-size: 1.4rem;
}
.hiden {
  display: none;
}
