.passwords-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.passwords-controls {
  width: 100vw;
  max-width: 60rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 130px;
}
.passwords-container {
  width: 100vw;
  max-width: 60rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem 0 1rem;
}
.passwords-container label {
  width: 100%;
  font-size: 1.6rem;
}
.passwords-container label:nth-child(3) {
  margin-bottom: 1rem;
}
.passwords-container span {
  margin-top: 1rem;
}

.passwords-viwer {
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
}
.passwords-viwer h1 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}
.passwords-viwer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-top: 0.5rem;
  padding: 0.8rem;
  border: 1px solid black;
}
.passwords-viwer-info p {
  font-size: 1.6rem;
}
